.footer-navigation {
    align-items: center;
    border: 0px none;
    display: flex;
    flex-direction: column;
    margin-top: 184px;
    min-height: 86px;
    width: 1184px;
}

.line {
    height: 1px;
    margin-right: 0.5px;
    object-fit: cover;
    width: 1184px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    height: 47px;
    margin-right: 1.0px;
    margin-top: 19px;
    min-width: 1023px;
}

.links {
    align-items: center;
    align-self: center;
    border: 0px none;
    display: flex;
    gap: 22px;
    margin-bottom: 1.0px;
    width: fit-content;
}

.links-item {
    color: var(--x000000primary);
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;
    width: fit-content;
}

.footer-rights-text {
    color: var(--x747a80);
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    width: fit-content;
}