.buttons-icon-label-o {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--cfdbd5outline-onlight2);
    border-radius: 8px;
    display: flex;
    height: 52px;
    margin-top: 28px;
    min-width: 437px;
    padding: 14px 137px;
}

.link {
    align-items: center;
    border: 0px none;
    display: flex;
    gap: 8px;
    justify-content: center;
    width: fit-content;
}

.icon-2 {
    letter-spacing: 0;
    text-align: center;
    width: fit-content;
}

.label-1 {
    color: var(--x000000primary);
    font-weight: 700;
    line-height: 21px;
    white-space: nowrap;
    width: fit-content;
}