.form {
    align-items: center;
    border: 0px none;
    display: flex;
    flex-direction: column;
    max-height: 459px;
    margin-top: 47px;
    position: relative;
    width: 437px;
}

.flex-row {
    align-items: center;
    display: flex;
    height: 20px;
    margin-top: 28px;
    min-width: 437px;
    position: relative;
}