.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 85vw;
    margin: 10px;
    height: 700px;
}

.table-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}