.table-element-container {
    align-items: flex-start;
    border: 0px none;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 14px;
    min-height: 62px;
    width: 500px;
}

.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 154px;
    height: 41px;
    margin-top: 3px;
    min-width: 500px;
}

.title {
    align-items: center;
    border: 1px none;
    display: flex;
    gap: 24px;
    width: fit-content;
}

.label {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: fit-content;
}

.name {
    font-family: var(--font-family-inter);
    color: var(--x000000primary);
    font-weight: 700;
    line-height: 21px;
    min-width: 199px;
    white-space: nowrap;
}

.line {
    height: 1px;
    margin-left: -0.5px;
    object-fit: cover;
    width: 501px;
    color: #000;
}

.date {
    color: var(--x747a80);
    font-weight: 500;
    line-height: 18px;
    white-space: nowrap;
    width: fit-content;
}