.large-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid;
    border-color: var(--cfdbd5outline-onlight2);
    border-radius: 10px;
    gap: 256px;
    height: 178px;
    min-width: 500px;
    padding: 22px 24px;
  }