.bar-container {
    display: flex;
    align-items: flex-start;
    gap: 330px;
    height: 52px;
    margin-right: 1.0px;
    min-width: 1024px;
}

.list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px none;
    gap: 24px;
    width: fit-content;
}

.line {
    height: 1px;
    margin-right: 1.0px;
    width: 1184px;
}