:root {
    --cfdbd5outline-onlight: #cfdbd5b2;
    --cfdbd5outline-onlight2: #cfdbd5b2;
    --ebf0f0primary: #ebf0f0;
    --ffffffsoft: #ffffff80;
    --x000000primary: #000000;
    --x0052ffsoft: #0052ff;
    --x0052ffsoft2: #0052ff;
    --x0052ffsoft3: #0052ff;
    --x747a80: #747a80;
    --nebula: rgba(207, 219, 213, 0.42);
    --ebf0f0soft-onlight: rgba(235, 240, 240, 0.698);
    --ffffff--primary: rgba(255, 255, 255, 1);

    --font-size-l: 18px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 21px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 42px;

    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 18px;
    --font-size-xl: 21px;
    --font-size-xxl: 22px;
    --font-size-xxl2: 24px;
    --font-size-xxxl2: 42px;

    --font-family-inter: "Inter", Helvetica;
    --font-family-material_icons_outlined-regular: "Material Icons Outlined-Regular", Helvetica;
    --font-family-inter: "Inter";
    --font-family-inter-black: "Inter-Black";
    --font-family-material_icons_outlined-regular: "Material Icons Outlined-Regular";
}

.heading--h1 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
}

.heading--h4 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
}

.heading--h6 {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0;
}

.label--14px {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
}

.x14px--regular {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.x12px--bold {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
}

.materialiconsoutlined-regular-normal-black-18px {
    color: var(--x000000primary);
    font-family: var(--font-family-material_icons_outlined-regular);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
}

.materialiconsoutlined-regular-normal-rolling-stone-22px {
    color: var(--x747a80);
    font-family: var(--font-family-material_icons_outlined-regular);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
  }

.inter-black-black-21px {
    color: var(--x000000primary);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xl);
    font-weight: 900;
    font-style: normal;
}

.inter-black-black-21px {
    color: var(--x000000primary);
    font-family: var(--font-family-inter-black);
    font-size: var(--font-size-xl);
    font-weight: 900;
    font-style: normal;
}