.form {
    align-items: center;
    border: 0px none;
    display: flex;
    flex-direction: column;
    max-height: 459px;
    margin-top: 47px;
    position: relative;
    width: 437px;
}

.message {
    color: var(--x000000primary);
    line-height: 18px;
    margin-left: 19px;
    min-height: 18px;
    min-width: 109px;
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    margin-bottom: 24px;
}