.sidebar-navigation {
    align-items: flex-start;
    background-color: var(--ebf0f0soft-onlight);
    border: 0px none;
    display: flex;
    flex-direction: column;
    min-height: 1020px;
    padding: 20px 0;
    position: relative;
    width: 256px;
}

.element-logo-hidden {
    height: 44px;
    margin-left: 32px;
    width: 44px;
}

.navigation {
    align-items: flex-start;
    border: 0px none;
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    min-height: 431px;
    position: relative;
    width: 256px;
}

.navigation-text {
    color: var(--x747a80);
    font-weight: 300;
    line-height: 21px;
    margin-left: 32px;
    margin-top: 1px;
    min-height: 21px;
    white-space: nowrap;
}