.button-dark {
    align-items: flex-start;
    background-color: var(--x000000primary);
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    height: 56px;
    min-width: 124px;
    padding: 17px 43px;
}

.label-dark {
    color: var(--ffffff--primary);
    font-weight: 700;
    line-height: 21px;
    min-height: 21px;
    min-width: 38px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}

.button-light {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--cfdbd5outline-onlight2);
    background-color: white;
    border-radius: 8px;
    display: flex;
    height: 58px;
    margin-top: -1px;
    min-width: 126px;
    padding: 17px 43px;
}

.label-light {
    color: black;
    font-weight: 700;
    line-height: 21px;
    min-height: 21px;
    min-width: 38px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}

.button-blue {
    align-items: flex-start;
    background-color: var(--x0052ffsoft);
    border: 1px solid;
    border-color: var(--x0052ffsoft);
    border-radius: 8px;
    display: flex;
    height: 56px;
    min-width: 124px;
    padding: 17px 43px;
}

.label-light {
    color: var(--x0052ffsoft);
    font-weight: 700;
    line-height: 21px;
    min-height: 21px;
    min-width: 38px;
    text-align: center;
    white-space: nowrap;
    font-size: 16px;
}