.navigation-web-sideb-10 {
  align-items: center;
  border: 0px none;
  display: flex;
  height: 48px;
  margin-top: 11px;
  min-width: 266px;
  padding: 0 30px;
}

.label {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 13px;
  position: relative;
  width: fit-content;
}

.link-3 {
  color: var(--x747a80);
  font-weight: 700;
  line-height: 21px;
  margin-top: -0.50px;
  white-space: nowrap;
  width: fit-content;
}

.buttons-logo-flag-usd {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 22px;
  text-align: center;
}