.top-navigation {
    align-items: flex-start;
    border: 0px none;
    display: flex;
    height: 84px;
    justify-content: center;
    min-width: 1184px;
}

.overlap-group {
    align-items: flex-start;
    background-color: var(--ffffff--primary);
    display: flex;
    height: 86px;
    margin-top: -1px;
    min-width: 1186px;
    padding: 21px 81px;
    position: relative;
}

.navigation-header {
    align-self: center;
    color: var(--x000000primary);
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 4.0px;
    min-height: 24px;
    min-width: 98px;
    white-space: nowrap;
}

.search {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--cfdbd5outline-onlight2);
    border-radius: 8px;
    display: flex;
    height: 40px;
    margin-left: 513px;
    overflow: hidden;
    padding: 9px 12px;
    width: 307px;
}

.search-icon {
    letter-spacing: 0;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
}

.type-to-search {
    color: var(--x747a80);
    font-weight: 500;
    line-height: 18px;
    margin-left: 11px;
    margin-top: 1px;
    min-height: 18px;
    white-space: nowrap;
}

.top-navigation-image {
    background-position: 50% 50%;
    background-size: cover;
    height: 40px;
    margin-left: 16px;
    width: 40px;
}