.accounts-empty {
    display: flex;
    align-items: flex-start;
    position: relative;
    background-color: var(--ffffff--primary);
    height: 100vh;
    width: 100vw;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlap-group1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 560px;
    min-width: 1186px;
}