{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- FAQ Section: To the Side -->
<div class="bg-white">
   <div class="lg:flex space-y-16 lg:justify-between lg:space-x-8 lg:space-y-0 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="text-center lg:text-left">
         <div class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-700">
            About Us
         </div>
         <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
            What We Do & Where We're Going
         </h2>
         <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
            Be sure to <a href="/partners/work-with-us" class="text-blue-600 hover:text-blue-400">get in touch</a> and let us know if you have any further questions.
         </h3>
      </div>
      <div class="space-y-8 lg:w-3/5 lg:flex-none">
         <div class="prose prose-indigo">
            <h4>
               Where are you located?
            </h4>
            <p>
               We're in sunny South Florida!
            </p>
         </div>
         <div class="prose prose-indigo">
            <h4>
               What do you do?
            </h4>
            <p>
               Our driving mission is to deliver high-quality leads at cost-effective prices to our clients.
            </p>
         </div>
         <div class="prose prose-indigo">
            <h4>
               How does your app work?
            </h4>
            <p>
               Our main application is effectively a customer relationship management system (CRM) where our clients can receive, nurture, and close leads with ease.
            </p>
         </div>
         <div class="prose prose-indigo">
            <h4>
               How much does your product cost?
            </h4>
            <p>
               As much as you want to spend! There's no minimum or maximum, once we agree upon a price per lead, you will have full control about how many leads you want to receive per month. And we'll do our absolute best to meet your desired targets.
            </p>
         </div>
         <div class="prose prose-indigo">
            <h4>
               How long does it take to sign up?
            </h4>
            <p>
               Not long at all, just fill out <a href="/partners/work-with-us">this form</a> and we'll be right with you as fast as we can.
            </p>
         </div>
      </div>
   </div>
</div>
<!-- END FAQ Section: To the Side -->
<!-- CTA Section: Simple Boxed -->
<div class="bg-gray-100 overflow-hidden">
   <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="relative">
         <div class="pattern-dots-lg text-gray-300 absolute top-0 right-0 w-32 h-32 lg:w-48 lg:h-48 transform translate-x-12 -translate-y-16"></div>
         <div class="pattern-dots-lg text-gray-300 absolute bottom-0 left-0 w-32 h-32 lg:w-48 lg:h-48 transform -translate-x-12 translate-y-16"></div>
         <div class="p-10 lg:py-12 lg:px-16 bg-white rounded shadow text-center relative">
            <div class="space-y-10">
               <div class="text-center">
                  <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
                     Ready? <span class="text-blue-600">Let’s do it!</span>
                  </h2>
                  <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
                     We deliver high quality leads directly to you. No hidden fees or restrictive contracts. Pay only for what you receive.
                  </h3>
               </div>
               <div class="flex flex-col sm:flex-row sm:items-center sm:justify-center space-y-4 sm:space-y-0 sm:space-x-2">
                  <a href="/partners/work-with-us" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">
                     <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-solid hi-arrow-right inline-block w-5 h-5">
                        <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                     </svg>
                     <span>Get Started</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END CTA Section: Simple Boxed -->
<!-- About Me -->
<div class="bg-white">
   <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="border rounded-md bg-gray-50 shadow-sm relative">
         <div class="absolute top-0 right-0 text-9xl mt-3 mr-5 text-blue-200 opacity-75 font-serif">“</div>
         <div class="px-6 pt-16 pb-6 md:px-12 md:pb-10 relative text-center">
            <div class="mb-3"></div>
            <blockquote class="lg:w-2/3 xl:w-1/2 mx-auto">
               <p class="font-semibold text-xl leading-8 mb-5">
                  I'm a marketer and software developer. <br />
                  My career has revolved around generating leads at scale and at cost effective prices. <br />
               </p>
               <footer class="space-y-4">
                  <a href="javascript:void(0)" class="block mx-auto rounded-full overflow-hidden w-20 h-20 transform transition ease-out duration-150 border-2 border-gray-50 hover:border-white hover:shadow-md hover:scale-125 active:border-gray-50 active:shadow-sm active:scale-110">
                  <img src="https://cdn.tailkit.com/media/placeholders/avatar-iFgRcqHznqg-160x160.jpg" alt="Avatar Photo">
                  </a>
                  <div>
                     <a href="javascript:void(0)" class="text-lg font-semibold text-blue-600 hover:text-blue-400">
                     David Alvarez
                     </a>
                     <div class="mx-auto w-10 h-1 my-1 rounded-lg bg-blue-200"></div>
                     <p class="text-gray-500 font-medium">
                        Owner and Lead Developer
                     </p>
                  </div>
               </footer>
            </blockquote>
         </div>
      </div>
   </div>
</div>
<!-- END About Me -->
<!-- Features Section: Modern With Icons Left -->
<div class="bg-white">
   <div class="space-y-16 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="text-center">
         <div class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-700">
            What we can do for you
         </div>
         <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
            Get High Quality Leads Cost Effectively
         </h2>
         <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600 lg:w-2/3 mx-auto">
            Without too much fluff or buzzwrods, our aim is direct and simple: <br />
            Deliver to you qualified customers ready to take action.
         </h3>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-12">
         <div class="sm:flex sm:space-x-10 py-5">
            <div class="flex-none group inline-flex items-center justify-center w-12 h-12 ml-3 mb-8 sm:mb-0 sm:mt-5 relative">
               <div class="absolute inset-0 rounded-xl -m-3 transform -rotate-6 bg-blue-300 transition ease-out duration-150 group-hover:rotate-6 group-hover:scale-110"></div>
               <div class="absolute inset-0 rounded-xl -m-3 transform rotate-2 bg-blue-800 bg-opacity-75 shadow-inner transition ease-out duration-150 group-hover:-rotate-3 group-hover:scale-110"></div>
               <svg stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-code inline-block w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
               </svg>
            </div>
            <div>
               <h4 class="text-lg font-bold mb-2">
                  Highly Scalable
               </h4>
               <p class="leading-relaxed text-gray-600">
                  Our CRM is built from the ground up to scale. This means that we can deliver LOTS of leads, and be able to handle tons of user activity.
               </p>
            </div>
         </div>
         <div class="sm:flex sm:space-x-10 py-5">
            <div class="flex-none group inline-flex items-center justify-center w-12 h-12 ml-3 mb-8 sm:mb-0 sm:mt-5 relative">
               <div class="absolute inset-0 rounded-xl -m-3 transform -rotate-6 bg-blue-300 transition ease-out duration-150 group-hover:rotate-6 group-hover:scale-110"></div>
               <div class="absolute inset-0 rounded-xl -m-3 transform rotate-2 bg-blue-800 bg-opacity-75 shadow-inner transition ease-out duration-150 group-hover:-rotate-3 group-hover:scale-110"></div>
               <svg stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-device-mobile inline-block w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
               </svg>
            </div>
            <div>
               <h4 class="text-lg font-bold mb-2">
                  Cost Effective
               </h4>
               <p class="leading-relaxed text-gray-600">
                  Our traffic comes from a variety of sources ranging from SEO, PPC, Video Advertising, Influencer Marketing, and much more. The end goal being to reach targeted customers across the internet at attractive prices.
               </p>
            </div>
         </div>
         <div class="sm:flex sm:space-x-10 py-5">
            <div class="flex-none group inline-flex items-center justify-center w-12 h-12 ml-3 mb-8 sm:mb-0 sm:mt-5 relative">
               <div class="absolute inset-0 rounded-xl -m-3 transform -rotate-6 bg-blue-300 transition ease-out duration-150 group-hover:rotate-6 group-hover:scale-110"></div>
               <div class="absolute inset-0 rounded-xl -m-3 transform rotate-2 bg-blue-800 bg-opacity-75 shadow-inner transition ease-out duration-150 group-hover:-rotate-3 group-hover:scale-110"></div>
               <span class="font-semibold text-xl text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100">JS</span>
            </div>
            <div>
               <h4 class="text-lg font-bold mb-2">
                  Full Control
               </h4>
               <p class="leading-relaxed text-gray-600">
                  On our platform, you can select exactly what types of customers you want (whether that's bathroom remodeling, pumbling, roofing, etc...), on which zip codes or cities, and how much you're willing to spend per month.
               </p>
            </div>
         </div>
         <div class="sm:flex sm:space-x-10 py-5">
            <div class="flex-none group inline-flex items-center justify-center w-12 h-12 ml-3 mb-8 sm:mb-0 sm:mt-5 relative">
               <div class="absolute inset-0 rounded-xl -m-3 transform -rotate-6 bg-blue-300 transition ease-out duration-150 group-hover:rotate-6 group-hover:scale-110"></div>
               <div class="absolute inset-0 rounded-xl -m-3 transform rotate-2 bg-blue-800 bg-opacity-75 shadow-inner transition ease-out duration-150 group-hover:-rotate-3 group-hover:scale-110"></div>
               <svg stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="text-white relative transform transition ease-out duration-150 opacity-90 group-hover:scale-125 group-hover:opacity-100 hi-outline hi-cog inline-block w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
               </svg>
            </div>
            <div>
               <h4 class="text-lg font-bold mb-2">
                  End-to-End Platform
               </h4>
               <p class="leading-relaxed text-gray-600">
                  Our goal is to be a full end-to-end platform for managing your customer relationships. From getting leads, to communicating with the customer, to scheduling and fulfillment. We want to be the one-stop shop for all your lead generation needs.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END Features Section: Modern With Icons Left -->
<!-- CTA Section: Simple Boxed -->
<div class="bg-gray-100 overflow-hidden">
   <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <div class="relative">
         <div class="pattern-dots-lg text-gray-300 absolute top-0 right-0 w-32 h-32 lg:w-48 lg:h-48 transform translate-x-12 -translate-y-16"></div>
         <div class="pattern-dots-lg text-gray-300 absolute bottom-0 left-0 w-32 h-32 lg:w-48 lg:h-48 transform -translate-x-12 translate-y-16"></div>
         <div class="p-10 lg:py-12 lg:px-16 bg-white rounded shadow text-center relative">
            <div class="space-y-10">
               <div>
                  <div class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-700">
                     Get Started
                  </div>
                  <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
                     Grow your business <span class="text-blue-600">now</span>!
                  </h2>
                  <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
                    Leave all the heavy lifting to us. Get leads delivered straight to your dashboard.
                  </h3>
               </div>
               <div>
                  <a href="/partners/work-with-us" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">
                     <svg stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-outline hi-plus-circle inline-block w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                     </svg>
                     <span>Get Started</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- END CTA Section: Simple Boxed -->
{% endblock %}
