{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- Hero Content -->
<div class="container xl:max-w-7xl mx-auto px-4 py-12 lg:px-8 lg:py-26 text-center relative">
    <div class="w-24 h-24 mx-auto my-10 flex items-center justify-center rounded-2xl text-white bg-blue-600 border border-blue-800 ring-4 ring-blue-300 rotate-6">
      <svg class="hi-outline hi-lightning-bolt inline-block w-12 h-12" stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
    </div>
    <h1 class="text-3xl md:text-4xl font-extrabold mb-4">
      Connect with a local contractor near you
    </h1>
    <h2 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600 lg:w-2/3 mx-auto">
      Give us some basic details about your project, and we'll match you with a highly qualified professional
    </h2>
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-center space-y-2 sm:space-y-0 sm:space-x-2 py-10">
      <button id="get-started-button" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-gray-700 bg-gray-700 text-white hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-gray-700 active:border-gray-700">
        <svg class="hi-solid hi-document-text inline-block w-5 h-5 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
        <span>Start Now</span>
      </button>
    </div>
  </div>
  <!-- END Hero Content -->  
<!-- FAQ Section: To the Side -->
  <div class="bg-white">
    <div class="lg:flex space-y-16 lg:justify-between lg:space-x-8 lg:space-y-0 container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
      <!-- Heading -->
      <div class="text-center lg:text-left">
        <div class="text-sm uppercase font-bold tracking-wider mb-1 text-blue-700">
          We Answer
        </div>
        <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
          Frequently Asked Questions
        </h2>
        <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
          Be sure to <a href="javascript:void(0)" class="text-blue-600 hover:text-blue-400">get in touch</a> and let us know if you have any further questions.
        </h3>
      </div>
      <!-- END Heading -->

      <!-- FAQ -->
      <div class="space-y-8 lg:w-3/5 lg:flex-none">
        <div class="prose prose-indigo">
          <h4>
            How will I be matched with a contractor?
          </h4>
          <p>
            Our team selects highly rated and trusted contractors in your area. If they match the criteria from your quote request, we will forward them your information to facilitate contact with you.
          </p>
        </div>
        <div class="prose prose-indigo">
          <h4>
            What happens if I'm not matched with anyone in my area?
          </h4>
          <p>
            We will provide you with a few suggestions for what to do next to complete your search successfully.
          </p>
        </div>
        <div class="prose prose-indigo">
          <h4>What kinds of services do you provide?</h4>
          <p>
            We support any kind of home related service. You tell us what you're looking for and our algorithms will do the heavy lifting of matching you with the approriate contractor.
          </p>
        </div>
        <div class="prose prose-indigo">
          <h4>
            How do you guarantee the quality of the contractor(s) you recommend?
          </h4>
          <p>
            We do as best as we can within our power to find the highest quality contractors. We look for things like past customer experience(s) on the internet, their ratings, local reputations, as well as the overall character of management.
          </p>
        </div>
      </div>
      <!-- END FAQ -->
    </div>
  </div>
  <!-- END FAQ Section: To the Side -->
  <!-- CTA Section: Simple Boxed -->
<div class="bg-gray-100 overflow-hidden">
   <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
     <div class="relative">
       <div class="pattern-dots-lg text-gray-300 absolute top-0 right-0 w-32 h-32 lg:w-48 lg:h-48 transform translate-x-12 -translate-y-16"></div>
       <div class="pattern-dots-lg text-gray-300 absolute bottom-0 left-0 w-32 h-32 lg:w-48 lg:h-48 transform -translate-x-12 translate-y-16"></div>
       <div class="p-10 lg:py-12 lg:px-16 bg-white rounded shadow text-center relative">
         <div class="space-y-10">
           <!-- Heading -->
           <div class="text-center">
             <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
               Ready? <span class="text-blue-600">Let’s do it!</span>
             </h2>
             <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-600">
               Get your own custom dashboard and start building amazing services, always with the most solid and rock steady foundation.
             </h3>
           </div>
           <!-- END Heading -->
 
           <!-- Actions -->
           <div class="flex flex-col sm:flex-row sm:items-center sm:justify-center space-y-4 sm:space-y-0 sm:space-x-2">
             <button id="bottom-cta-button" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">
               <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-solid hi-arrow-right inline-block w-5 h-5"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
               <span>Get Started</span>
             </button>
           </div>
           <!-- END Actions -->
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- END CTA Section: Simple Boxed -->
<!-- Features Section: Secondary Features List -->
<div class="bg-white">
   <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32 space-y-16">
      <!-- Heading -->
      <div class="text-center">
         <h2 class="text-3xl md:text-4xl font-extrabold mb-4">
            Get matched with <span class="bg-clip-text text-transparent bg-gradient-to-r from-rose-500 to-red-500">highly qualified professionals</span>
         </h2>
         <div class="w-12 h-1.5 bg-gray-200 rounded-lg mb-3 mx-auto"></div>
         <h3 class="md:text-lg text-gray-600 md:leading-relaxed font-medium lg:w-2/3 mx-auto">
            We've done all of the research and due dilligence to make sure you're in good hands.
         </h3>
      </div>
      <!-- END Heading -->
      <!-- Features -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  HTML5 &amp; CSS3
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Fully Responsive
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Retina Ready
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Cross Browser Support
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Fast &amp; Lightweight
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Get Started Pages
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Custom JS APIs
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Super-Fast UI
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Flexible Side Areas
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Easy Updating
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Free updates
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
         <div class="flex space-x-3">
            <svg class="hi-solid hi-check inline-block w-5 h-5 text-emerald-500 flex-none mt-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <div>
               <h4 class="font-semibold mb-2">
                  Support
               </h4>
               <p class="leading-relaxed text-gray-600 text-sm font-medium">
                  Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst.
               </p>
            </div>
         </div>
      </div>
      <!-- END Features -->
   </div>
</div>
<!-- END Features Section: Secondary Features List -->
<!-- Blog Post -->
<article class="prose prose-indigo prose-lg mx-auto">
    {{ page.content }}
  </article>
  <!-- END Blog Post -->
  <script src="{% static 'blog/lp.js' %}"></script>
  {{ domain|json_script:"domain" }}
{% endblock %}
