{% load static %}
<!-- Hero -->
<div class="bg-gray-800 overflow-hidden">
  <!-- Header -->
  <header id="page-header" class="flex flex-none items-center py-10">
    <div class="flex flex-col text-center md:flex-row md:items-center md:justify-between space-y-6 md:space-y-0 container xl:max-w-7xl mx-auto px-4 lg:px-8">
      <div>
        <a href="javascript:void(0)" class="inline-flex items-center space-x-2 font-bold text-lg tracking-wide text-white hover:opacity-75">
          <svg stroke="currentColor" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="text-blue-300 opacity-75 hi-outline hi-cube-transparent inline-block w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5"></path></svg>
          <span>Company</span>
        </a>
      </div>
      <div class="flex flex-col text-center md:flex-row md:items-center md:justify-between space-y-6 md:space-y-0 md:space-x-10">
        <nav class="space-x-4 md:space-x-6">
          <a href="javascript:void(0)" class="font-semibold text-gray-300 hover:text-gray-400">
            <span>Features</span>
          </a>
          <a href="javascript:void(0)" class="font-semibold text-gray-300 hover:text-gray-400">
            <span>Plans</span>
          </a>
          <a href="javascript:void(0)" class="font-semibold text-gray-300 hover:text-gray-400">
            <span>About</span>
          </a>
        </nav>
        <div class="flex items-center justify-center space-x-2">
          <a href="javascript:void(0)" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-6 rounded border-gray-200 bg-gray-200 text-gray-700 hover:text-gray-700 hover:bg-gray-300 hover:border-gray-300 focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-gray-200 active:border-gray-200">
            <span>Sign In</span>
            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-solid hi-arrow-right inline-block w-5 h-5"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- END Header -->

  <!-- Hero Content -->
  <div class="container xl:max-w-7xl mx-auto px-4 py-16 lg:px-8 lg:py-32">
    <div class="text-center">
      <div class="font-semibold inline-flex px-2 py-1 leading-4 mb-2 text-sm rounded-full text-gray-700 bg-gray-200">
        Extra Info
      </div>
      <h2 class="text-3xl md:text-4xl font-extrabold mb-4 text-white">
        Hero title <span class="text-blue-300">about what you do</span>
      </h2>
      <h3 class="text-lg md:text-xl md:leading-relaxed font-medium text-gray-400 lg:w-2/3 mx-auto">
        Additional information explaining what your service provides and how it solves your customers’ problems.
      </h3>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-center space-y-2 sm:space-y-0 sm:space-x-2 pt-10 pb-16">
      <a href="javascript:void(0)" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-800 hover:border-blue-800 focus:ring focus:ring-blue-500 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700">
        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="opacity-50 hi-solid hi-check inline-block w-5 h-5"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        <span>Main CTA</span>
      </a>
      <a href="javascript:void(0)" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-6 py-4 leading-6 rounded border-gray-700 bg-gray-700 text-white hover:text-white hover:bg-gray-800 hover:border-gray-800 focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-gray-700 active:border-gray-700">
        <span>Secondary CTA</span>
      </a>
    </div>
  </div>
  <!-- END Hero Content -->
</div>
<!-- END Hero -->
